* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
}

body {
    min-height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6e4eff;
}

.container {
    width: 50%;
    background: #000000;
    border-radius: 14px;
    padding: 30px;
    box-shadow: 10 10 45px rgba(255,255,255,0.08);
    border: 5px solid #ffffffff;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.todo-form {
    display: flex;
    gap: 6px;
    margin-bottom: 12px;
}

.todo-form input,
.todo-form select {
    flex: 1;
    padding: 9px;
    border-radius: 6px;
    border: 1px solid #222;
    outline: none;
    background: #000;
    color: #fff;
}

.todo-form input::placeholder {
    color: #666;
}

.todo-form select option {
    background: #000;
    color: #fff;
}

.todo-form button {
    background: #ffffff;
    border: none;
    padding: 9px 14px;
    border-radius: 6px;
    cursor: pointer;
    color: #000;
}

.todo-form button:hover {
    background: #dddddd;
}

.controls {
    display: flex;
    gap: 6px;
    margin-bottom: 12px;
}

.controls input,
.controls select {
    flex: 1;
    padding: 9px;
    border-radius: 6px;
    border: 1px solid #222;
    outline: none;
    background: #000;
    color: #fff;
}

ul {
    list-style: none;
    max-height: 300px;
    overflow-y: auto;
}

ul::-webkit-scrollbar {
    width: 5px;
}

ul::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 10px;
}

li {
    background: #000;
    border: 1px solid #222;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.25s;
}

li:hover {
    border-color: #444;
}

li.completed {
    opacity: 0.45;
    text-decoration: line-through;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 800;
    color: #000;
}

.low {
    background: #00ff9c;
}

.medium {
    background: #ffd500;
}

.high {
    background: #ff3b3b;
}

.meta {
    font-size: 12px;
    opacity: 0.65;
    margin-top: 5px;
}

.actions {
    margin-top: 8px;
    display: flex;
    gap: 6px;
}

.actions button {
    flex: 1;
    border: none;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
}

.done {
    background: #00ff9c;
    color: #000;
}

.edit {
    background: #ffd500;
    color: #000;
}

.delete {
    background: #ff3b3b;
    color: #fff;
}

.actions button:hover {
    opacity: 0.85;
}
